<div class="ui segment">
  <sui-progress class="top attached purple active" [value]="changingValue" [autoSuccess]="false"></sui-progress>
  <sui-progress class="indicating" [value]="changingValue">Indicating</sui-progress>
  <sui-progress class="active blue" [value]="randomValue">Active</sui-progress>
  <sui-progress class="active blue" [value]="finishedValue">Active</sui-progress>
  <sui-progress class="warning" [value]="changingValue">Warning</sui-progress>
  <sui-progress class="error" [value]="changingValue">Error</sui-progress>
  <sui-progress class="disabled" [value]="randomValue">Disabled</sui-progress>
  <sui-progress class="tiny" [value]="changingValue">Tiny (autohides progress)</sui-progress>
  <sui-progress class="bottom attached indicating active" [value]="changingValue"></sui-progress>
</div>
